body {
  text-align: center;
  background-image: url("https://store-images.s-microsoft.com/image/apps.5738.13929666492019541.2f9dbb54-2217-46dd-8e3e-a81b042e0491.f4c220ca-ad4f-48ef-825f-965fb022d579?mode=scale&q=90&h=1080&w=1920&format=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h1 {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 80px;
}
input {
  text-align: center;
}
#hidden {
  opacity: 0;
  transition: 0.1;
}
#show {
  opacity: 1;
  transition: 0.1;
}
.wrapper {
  width: 80%;
  height: 300px;
  margin-bottom: 200px;
  margin:0 auto;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid lightgray;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.container-km, .container-eta, .container-prezzo, .container-name {
  width: 25%;
  height: 50%;
  border-radius: 20px;
  text-align: center;
  border: 2px solid lightgray;
}
.container-name, .container-km {
  margin-right: 50px;
}
.button {

}
.container-name-pass, .container-offerta, .container-carrozza, .container-codice, .container-costo {
  width: 20%;
  height: 50%;
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid lightgray;
}
